{% extends "base.html" %} 
{% load i18n %} 

{% block content %}
<!--Navbar-->
<section id="header">
  <nav class="navbar bg-body-tertiary container" id="header">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #49be25">
        <h3>@Django Blog</h3>
      </a>
      <form class="d-flex" role="search">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              style="color: #49be25"
              href="/"
              >Home</a
            >
          </li>
          <span>|</span>
          <li class="nav-item">
            <a class="nav-link" style="color: #49be25" href="#">Community</a>
          </li>
          <span>|</span>
          <li class="nav-item">
            <a class="nav-link" style="color: #49be25" href="/contact">Contact</a>
          </li>
          <span>|</span>
          <li class="nav-item">
            <a class="nav-link" style="color: #49be25" href="/register">Register</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>
</section>
<!--Main-->
{% block index %}{% endblock %}
{% block contact %}{% endblock %}
<!--Footer-->
 <section id="footer">
  <nav class="navbar bg-body-tertiary container mt-5">
    <div class="container justify-content-center">
      <form class="d-flex" role="search">
        <ul class="nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              style="color: #49be25"
              href="/"
              >Home</a
            >
          </li>
          <span>|</span>
          <li class="nav-item">
            <a class="nav-link" style="color: #49be25" href="#">Community</a>
          </li>
          <span>|</span>
          <li class="nav-item">
            <a class="nav-link" style="color: #49be25" href="/contact">Contact</a>
          </li>
          <span>|</span>
          <li class="nav-item">
            <a class="nav-link" style="color: #49be25" href="/register">Register</a>
          </li>
        </ul>
      </form>
    </div>
  </nav>
  <hr class="container"/>
  <div class="text-center">
    <p>Buenos Aires, Argentina.<br/>
       @2023 Cristian Machuca. All rights reserved.
    </p>
  </div>
 </section>
{% endblock %}
